.background {
    width: 100%;
    height:60%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../public/meals.jpg");
    background-size: cover;
    background-position: center;
    transform: skewY(-8deg);
    transform-origin: top left;
    z-index: -1;
  }

  .shopInformation {
    width: 50%;
    margin: auto; /* Center horizontally */
    margin-top: 200px; /* Add margin at the top */
    background-color: rgb(59, 57, 57);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  